################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOP3MGP/.vs/OOP3MGP/FileContentIndex
